# This file is used to set environment variables for different Flask environments.
# Each section corresponds to a different environment.
# The variables can be loaded into the application using a library like python-dotenv.

#FLASK_ENV=testing
#SECRET_KEY=test-secret-key
#DATABASE_URL=sqlite:///:memory:

#FLASK_ENV=development
#SECRET_KEY=dev-secret-key
#DATABASE_URL=sqlite:///dev.db

#FLASK_ENV=staging
#SECRET_KEY=staging-secret-key
#DATABASE_URL=postgresql://user:pass@template_db/template_staging
#OTHER_SERVICE_URL=http://other_service:5002

#FLASK_ENV=production
#SECRET_KEY=prod-secret-key
#DATABASE_URL=postgresql://user:pass@template_db/template_prod
#OTHER_SERVICE_URL=http://other_service:5001


