# This file is used to set environment variables for different Flask environments.
# Each section corresponds to a different environment.
# The variables can be loaded into the application using a library like python-dotenv.

#FLASK_ENV=testing
#DATABASE_URL=sqlite:///:memory:

#FLASK_ENV=development
#DATABASE_URL=sqlite:///dev.db

#FLASK_ENV=staging
#DATABASE_URL=postgresql://user:pass@template_db/template_staging
#COMPANY_SERVICE_URL=http://company_service:5000
#ROLE_SERVICE_URL=http://role_service:5000
#INTERNAL_REQUEST_SECRET=staging-interal-secret

#FLASK_ENV=production
#DATABASE_URL=postgresql://user:pass@template_db/template_prod
#COMPANY_SERVICE_URL=http://company_service:5000
#ROLE_SERVICE_URL=http://role_service:5000
#INTERNAL_REQUEST_SECRET=production-interal-secret
